
@font-face {
    font-family: 'SEGA LOGO FONT';
    font-style: normal;
    font-weight: normal;
    src: local('SEGA LOGO FONT'), url('SEGA.woff') format('woff');
}

h1 {
        font-family: 'SEGA LOGO FONT', cursive;
        font-weight: 200;
        background-image: linear-gradient(to right, rgb(156, 156, 156), rgb(0, 0, 0));
        background-size: 300%;
        background-clip: text;
        color: transparent;
        animation: h1-animation 10s infinite alternate;
    
}

@keyframes h1-animation {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }